<div class="container">
  <div class="header"><h3>All Comics</h3></div>


  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Pages</th>
        <th scope="col">Synopsis</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comic of comics; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>x</td>
        <td>{{ comic.title }}</td>
        <td>x</td>
        <td>{{ comic.pages }}</td>
        <td>x</td>
        <td>
          <app-add-comic-to-my-comics
                            [comic]="comic"
                            (refreshRequested)="onRefreshRequestedAfterDelete($event)">
          </app-add-comic-to-my-comics>
          <app-delete-comic [comic]="comic"
                            (refreshRequested)="onRefreshRequestedAfterDelete($event)">
          </app-delete-comic>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="add-comic">
    <button type="button" class="btn btn-outline-primary" style="margin:50px" routerLink="/home/addComic">Add Comic</button>
  </div>


</div>
