@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  background-color: black;
  background-image: url('/images/Main.jpg');
  background-size: contain; /* Fit the image within the background area */
  background-position: center; /* Center the image in the viewport */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Optional: Fix the image in place */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
