<div class="container">
  <h1 style="color:aliceblue">Sign Up</h1>

  <form [formGroup]="myReactiveForm">
    <div class="form-group">
      <label for="exampleInputEmail1" style="display:block; color: aliceblue; text-align: center ">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
      <small id="emailHelp" class="form-text text-muted" style="color:aliceblue !important">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="display: block; color: aliceblue; text-align: center">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="Password">
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-primary" style="color:aliceblue" (click)="signUpUser()">Sing me up</button>
    </div>
  </form>

  <div>
    <button type="button" class="btn btn-dark" style="color:aliceblue" (click)="navigateToHome()">Back</button>
  </div>

</div>

