body, html {
  height: 100%;
  margin: 0;
}

.fullscreen-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  margin-left: 0 !important;
}

.btn btn-primary {
    background-color:darkred !important;

}
